.container {
    padding: 10em;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.account-owner {
    color: darkblue;
}

.account-owner:hover {
    text-decoration: underline;
    cursor: pointer;
}

.action-icon {
    cursor: pointer;
    margin-right: 10px;
}

.float-end {
    display: flex;
    justify-content: end;
}
